@import "variables";
@import "mixins";

@font-face {
  font-family: HelveticaRegular; /* Имя шрифта */
  src: url(../fonts/HelveticaRegular/HelveticaRegular.ttf);
  src: url(../fonts/HelveticaRegular/HelveticaRegular.eot);
  src: url(../fonts/HelveticaRegular/HelveticaRegular.woff);
}

@font-face {
  font-family: HelveticaBold; /* Имя шрифта */
  src: url(../fonts/HelveticaBold/HelveticaBold.ttf);
  src: url(../fonts/HelveticaBold/HelveticaBold.eot);
  src: url(../fonts/HelveticaBold/HelveticaBold.woff);
}

a {
  &:hover {
    color: $color-red!important;
  }
  &.btn:hover {
    color: #fff!important;
  }
}

input {
  &:focus {
    background-color: #fff!important;
  }
}

ul {
  li {
    &.active {
      a {
        color: $color-red!important;
      }
    }
  }
}

.btn {
  &:hover {
    background-color: $color-red;
    border-color: $color-red;
  }
  &:active {
    background-color: $color-red-active;
  }
}

.blog-header {
  background: url("../images/travel-france.png") no-repeat 50% 0;
  background-size: cover;
  border-bottom: 1px solid #e5e5e5;
  height: 50vw;
  line-height: 1;
  margin-bottom: 110px;
  position: relative;
  @include for-phone-only {
    height: 100vw;
  }

  .form-wrap {
    bottom: -15px;
    height: 40px;
    left: 0;
    margin: 0;
    padding: 5px;
    position: absolute;
    width: 100vw;
    z-index: 105;

    .form-control {
      border-radius: 0;
      border-color: #ced4da;
      margin-left: -3px;
      width: 336px;
      height: 55px;
      @include for-desktop-down {
        height: 40px;
        width: 100px;
      }
      &:focus {
        box-shadow: none;
      }
      &.date-item {
        width: 183px;
      }
      &:first-child {
        margin: 0;
      }
        &::placeholder {
          font-family: HelveticaRegular, sans-serif;
          @include for-desktop-down {
            font-size: 12px;
          }
      }
    }

    .btn {
      background-color: $color-red;
      border-color: $color-red;
      border-radius: 0;
      font-family: HelveticaRegular, sans-serif;
      width: 122px;
      @include for-desktop-down {
        width: 85px;
      }
      @include for-phone-only {
        width: 70px;
      }
      &:hover {
        background-color: $color-red-hover;
      }
      &:active {
        background: $color-red-active;
        height: 53px;
        outline: none;
        margin-bottom: -2px;
        transition: none;
      }
      &:focus {
        border-color: $color-red-active;
        box-shadow: none;
        outline: none;
      }
    }
  }
}


.header-wrap {
  @include for-phone-only {
    display: block;
  }
  .logo-wrap {
    @include for-phone-only {
      width: 100vw !important;
      display: block !important;
      max-width: 100vw;
      margin-bottom: 30px;
    }
  }
  .menu-wrap {
    @include for-desktop-down {
      max-width: 50%;
    }
    @include for-phone-only {
      width: 100vw !important;
      display: block !important;
      max-width: 100vw;
    }
    .nav {
      @include for-phone-only {
        justify-content: center !important;
      }
      li {
        margin: 0 0 0 30px;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
  .btn-wrap {
    @include for-phone-only {
      position: absolute;
      display: block !important;
      width: auto;
      padding: 0;
      top: 10px;
      right: 10px;
    }
  }
}

.blog-header-logo {
  font-family: HelveticaBold, sans-serif;
  font-size: 2.5vw;
  @include for-phone-only {
    font-size: 5.5vw;
  }
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-dark-grey;
  font-family: HelveticaRegular, sans-serif;
  font-weight: normal;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

ul li {
  list-style: none;
  margin: 0 20px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  .nav {
    ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      li {
        &:first-child {
          margin-left: 0;
        }
        a {
          color: #fff;
        }
      }
    }
  }
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.light-grey {
  color: $color-grey;
}

.section-info {
  margin-bottom: 80px;
  @include for-phone-only {
    margin-bottom: 30px;
    padding: 0 15px;
  }
  h2 {
    font-family: HelveticaRegular, sans-serif;
    padding: 0 15px;
    @include for-phone-only {
      display: block;
      padding: 0;
    }
  }
  nav {
    margin-right: 15px;
    @include for-phone-only {
      display: block!important;
      margin-bottom: 20px;
    }
    ul {
      @include for-phone-only {
        justify-content: left!important;
      }
    }
    li {
      margin: 0 0 0 20px;
      @include for-phone-only {
        margin: 0 20px 0 0;
      }
      &:first-child {
        margin: 0;
        @include for-phone-only {
          margin-right: 20px;
        }
        a {
          color: $color-red;
        }
      }
      a {
        color: $color-dark-grey;
      }
    }
  }

  header {
    margin-bottom: 62px;
    @include for-phone-only {
      display: block;
      margin: 0;
    }
  }

  figure {
    margin: 0;
  }

  .btn {
    border-color: $color-red;
    color: $color-red;
  }

  table {
    thead {
      th {
        border-bottom-width: 1px;
        border-top: none;
        font-weight: bold;
      }
    }
    th {
      font-weight: normal;
      .row {
        margin: 0;
      }
      .info-wrapper {
        .info-block {
          margin-left: 29px;
        }
      }
    }
    th, td {
      padding: 0.35rem;
    }
    .btn {
      width: 80px;
    }
  }

  .show-more {
    margin-top: 20px;
    @include for-phone-only {
      margin-top: 0;
    }
  }

  .gallery {
    @include for-phone-only {
      margin-bottom: 20px!important;
    }
    img {
      border: none!important;
      height: auto;
      width: 100%;
    }
    .gallery-item {
      margin: 0 30px 0 0;
      width: 27%!important;
      @include for-desktop-up {
        margin: 0;
        width: 33%!important;
      }
      @include for-phone-only {
        margin-right: 20px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: 56% !important;
        @include for-desktop-up {
          width: 67%!important;
        }
        @include for-phone-only {
          width: 60% !important;
        }
      }

      &:nth-child(1) {
        @include for-phone-only {
          margin-right: 20px;
        }
        a:after {
          content: 'Train';
        }
      }
      &:nth-child(2) {
        a:after {
          content: 'desert';
        }
      }
      &:nth-child(3) {
        a:after {
          content: 'freedom';
        }
      }
      &:nth-child(5) {
        a:after {
          content: 'Elfel Tower';
          @include for-phone-only {
            left: 20%;
          }
        }
      }
      &:nth-child(6) {
        a:after {
          content: 'sky';
        }
      }
      &:nth-child(7) {
        a:after {
          content: 'lake';
        }
      }
    }
    a {
      display: inline-block;
      position: relative;
      &:before {
        background: #000;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &:after {
        color: #fff;
        display: inline-block!important;
        font-family: HelveticaRegular, sans-serif;
        font-weight: normal;
        left: 43%;
        margin: auto;
        position: absolute;
        top: 50%;
      }
    }
  }

  .hotels-l {
    overflow: hidden;
    padding: 0;
    .hotels-l-i {
      float: left;
      margin: 0 2vw 30px 0;
      transition: all .45s;
      width: 30%;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      &:hover {
        box-shadow: 0 0 20px #ccc;
      }
      img {
        display: block;
        width: 100%;
      }
      .description {
        border: 1px solid $color-light-grey;
        padding: 24px 15px;
        @include for-phone-only {
          padding: 10px 5px;
        }

        .hotel-info {
          margin-bottom: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .btn {
          height: 40px;
          width: 120px;
          @include for-phone-only {
            width: 80px;
          }
        }
      }
    }
  }

  .trips-l {
    @include for-desktop-down {
      padding: 0;
    }
    .trips-l-i {
      height: 230px;
      margin: 0 0 30px 0;
      @include for-desktop-down {
        height: auto;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .trips-image,
    img {
      height: 100%;
      @include for-desktop-down {
        width: 100%;
      }
    }
    .trips-image {
      float: left;
      @include for-desktop-down {
        float: none;
      }
    }
    .description {
      border: 1px solid $color-light-grey;
      height: 100%;
      overflow: hidden;
      padding: 24px 40px 24px 30px;
      @include for-desktop-down {
        padding: 24px;
      }
    }
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;

  .footer-links-wrap {
    @include for-desktop-down {
      display: block;
      margin: 0;
      text-align: left;
    }
  }

  .footer-links {
    &:nth-child(even) {
      @include for-desktop-down {
        margin: 0;
      }
    }
    @include for-desktop-down {
      display: inline-block;
      height: 355px;
      margin-right: 120px;
      vertical-align: top;
      width: 30%;
    }
    @include for-phone-only {
      margin-right: 30px;
      width: 40%;
    }
  }

  h2 {
    margin-bottom: 46px;
    text-align: left;
    @include for-desktop-down {
      margin-bottom: 25px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 15px;
      text-align: left;
      a {
        color: $color-grey;
      }
    }
  }

  p {
    text-align: left;
  }

  a {
    display: block;
    color: $color-red;
    text-align: left;
  }
}