@font-face {
  font-family: HelveticaRegular;
  /* Имя шрифта */
  src: url(../fonts/HelveticaRegular/HelveticaRegular.ttf);
  src: url(../fonts/HelveticaRegular/HelveticaRegular.eot);
  src: url(../fonts/HelveticaRegular/HelveticaRegular.woff);
}
@font-face {
  font-family: HelveticaBold;
  /* Имя шрифта */
  src: url(../fonts/HelveticaBold/HelveticaBold.ttf);
  src: url(../fonts/HelveticaBold/HelveticaBold.eot);
  src: url(../fonts/HelveticaBold/HelveticaBold.woff);
}
a:hover {
  color: #ff4b64 !important;
}
a.btn:hover {
  color: #fff !important;
}
input:focus {
  background-color: #fff !important;
}
ul li.active a {
  color: #ff4b64 !important;
}
.btn:hover {
  background-color: #ff4b64;
  border-color: #ff4b64;
}
.btn:active {
  background-color: #b24959;
}
.blog-header {
  background: url("../images/travel-france.png") no-repeat 50% 0;
  background-size: cover;
  border-bottom: 1px solid #e5e5e5;
  height: 50vw;
  line-height: 1;
  margin-bottom: 110px;
  position: relative;
}
@media (max-width: 599px) {
  .blog-header {
    height: 100vw;
  }
}
.blog-header .form-wrap {
  bottom: -15px;
  height: 40px;
  left: 0;
  margin: 0;
  padding: 5px;
  position: absolute;
  width: 100vw;
  z-index: 105;
}
.blog-header .form-wrap .form-control {
  border-radius: 0;
  border-color: #ced4da;
  margin-left: -3px;
  width: 336px;
  height: 55px;
}
@media (max-width: 768px) {
  .blog-header .form-wrap .form-control {
    height: 40px;
    width: 100px;
  }
}
.blog-header .form-wrap .form-control:focus {
  box-shadow: none;
}
.blog-header .form-wrap .form-control.date-item {
  width: 183px;
}
.blog-header .form-wrap .form-control:first-child {
  margin: 0;
}
.blog-header .form-wrap .form-control::placeholder {
  font-family: HelveticaRegular, sans-serif;
}
@media (max-width: 768px) {
  .blog-header .form-wrap .form-control::placeholder {
    font-size: 12px;
  }
}
.blog-header .form-wrap .btn {
  background-color: #ff4b64;
  border-color: #ff4b64;
  border-radius: 0;
  font-family: HelveticaRegular, sans-serif;
  width: 122px;
}
@media (max-width: 768px) {
  .blog-header .form-wrap .btn {
    width: 85px;
  }
}
@media (max-width: 599px) {
  .blog-header .form-wrap .btn {
    width: 70px;
  }
}
.blog-header .form-wrap .btn:hover {
  background-color: #ff6a85;
}
.blog-header .form-wrap .btn:active {
  background: #b24959;
  height: 53px;
  outline: none;
  margin-bottom: -2px;
  transition: none;
}
.blog-header .form-wrap .btn:focus {
  border-color: #b24959;
  box-shadow: none;
  outline: none;
}
@media (max-width: 599px) {
  .header-wrap {
    display: block;
  }
}
@media (max-width: 599px) {
  .header-wrap .logo-wrap {
    width: 100vw !important;
    display: block !important;
    max-width: 100vw;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .header-wrap .menu-wrap {
    max-width: 50%;
  }
}
@media (max-width: 599px) {
  .header-wrap .menu-wrap {
    width: 100vw !important;
    display: block !important;
    max-width: 100vw;
  }
}
@media (max-width: 599px) {
  .header-wrap .menu-wrap .nav {
    justify-content: center !important;
  }
}
.header-wrap .menu-wrap .nav li {
  margin: 0 0 0 30px;
}
.header-wrap .menu-wrap .nav li:first-child {
  margin: 0;
}
@media (max-width: 599px) {
  .header-wrap .btn-wrap {
    position: absolute;
    display: block !important;
    width: auto;
    padding: 0;
    top: 10px;
    right: 10px;
  }
}
.blog-header-logo {
  font-family: HelveticaBold, sans-serif;
  font-size: 2.5vw;
}
@media (max-width: 599px) {
  .blog-header-logo {
    font-size: 5.5vw;
  }
}
.blog-header-logo:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  color: #484848;
  font-family: HelveticaRegular, sans-serif;
  font-weight: normal;
}
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
ul li {
  list-style: none;
  margin: 0 20px;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
}
.nav-scroller .nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-scroller .nav ul li:first-child {
  margin-left: 0;
}
.nav-scroller .nav ul li a {
  color: #fff;
}
.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}
.light-grey {
  color: #818181;
}
.section-info {
  margin-bottom: 80px;
}
@media (max-width: 599px) {
  .section-info {
    margin-bottom: 30px;
    padding: 0 15px;
  }
}
.section-info h2 {
  font-family: HelveticaRegular, sans-serif;
  padding: 0 15px;
}
@media (max-width: 599px) {
  .section-info h2 {
    display: block;
    padding: 0;
  }
}
.section-info nav {
  margin-right: 15px;
}
@media (max-width: 599px) {
  .section-info nav {
    display: block !important;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-info nav ul {
    justify-content: left !important;
  }
}
.section-info nav li {
  margin: 0 0 0 20px;
}
@media (max-width: 599px) {
  .section-info nav li {
    margin: 0 20px 0 0;
  }
}
.section-info nav li:first-child {
  margin: 0;
}
@media (max-width: 599px) {
  .section-info nav li:first-child {
    margin-right: 20px;
  }
}
.section-info nav li:first-child a {
  color: #ff4b64;
}
.section-info nav li a {
  color: #484848;
}
.section-info header {
  margin-bottom: 62px;
}
@media (max-width: 599px) {
  .section-info header {
    display: block;
    margin: 0;
  }
}
.section-info figure {
  margin: 0;
}
.section-info .btn {
  border-color: #ff4b64;
  color: #ff4b64;
}
.section-info table thead th {
  border-bottom-width: 1px;
  border-top: none;
  font-weight: bold;
}
.section-info table th {
  font-weight: normal;
}
.section-info table th .row {
  margin: 0;
}
.section-info table th .info-wrapper .info-block {
  margin-left: 29px;
}
.section-info table th, .section-info table td {
  padding: 0.35rem;
}
.section-info table .btn {
  width: 80px;
}
.section-info .show-more {
  margin-top: 20px;
}
@media (max-width: 599px) {
  .section-info .show-more {
    margin-top: 0;
  }
}
@media (max-width: 599px) {
  .section-info .gallery {
    margin-bottom: 20px !important;
  }
}
.section-info .gallery img {
  border: none !important;
  height: auto;
  width: 100%;
}
.section-info .gallery .gallery-item {
  margin: 0 30px 0 0;
  width: 27% !important;
}
@media (min-width: 1200px) {
  .section-info .gallery .gallery-item {
    margin: 0;
    width: 33% !important;
  }
}
@media (max-width: 599px) {
  .section-info .gallery .gallery-item {
    margin-right: 20px;
  }
}
.section-info .gallery .gallery-item:nth-child(2), .section-info .gallery .gallery-item:nth-child(3) {
  width: 56% !important;
}
@media (min-width: 1200px) {
  .section-info .gallery .gallery-item:nth-child(2), .section-info .gallery .gallery-item:nth-child(3) {
    width: 67% !important;
  }
}
@media (max-width: 599px) {
  .section-info .gallery .gallery-item:nth-child(2), .section-info .gallery .gallery-item:nth-child(3) {
    width: 60% !important;
  }
}
@media (max-width: 599px) {
  .section-info .gallery .gallery-item:nth-child(1) {
    margin-right: 20px;
  }
}
.section-info .gallery .gallery-item:nth-child(1) a:after {
  content: 'Train';
}
.section-info .gallery .gallery-item:nth-child(2) a:after {
  content: 'desert';
}
.section-info .gallery .gallery-item:nth-child(3) a:after {
  content: 'freedom';
}
.section-info .gallery .gallery-item:nth-child(5) a:after {
  content: 'Elfel Tower';
}
@media (max-width: 599px) {
  .section-info .gallery .gallery-item:nth-child(5) a:after {
    left: 20%;
  }
}
.section-info .gallery .gallery-item:nth-child(6) a:after {
  content: 'sky';
}
.section-info .gallery .gallery-item:nth-child(7) a:after {
  content: 'lake';
}
.section-info .gallery a {
  display: inline-block;
  position: relative;
}
.section-info .gallery a:before {
  background: #000;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}
.section-info .gallery a:after {
  color: #fff;
  display: inline-block !important;
  font-family: HelveticaRegular, sans-serif;
  font-weight: normal;
  left: 43%;
  margin: auto;
  position: absolute;
  top: 50%;
}
.section-info .hotels-l {
  overflow: hidden;
  padding: 0;
}
.section-info .hotels-l .hotels-l-i {
  float: left;
  margin: 0 2vw 30px 0;
  transition: all 0.45s;
  width: 30%;
}
.section-info .hotels-l .hotels-l-i:nth-child(3n+3) {
  margin-right: 0;
}
.section-info .hotels-l .hotels-l-i:hover {
  box-shadow: 0 0 20px #ccc;
}
.section-info .hotels-l .hotels-l-i img {
  display: block;
  width: 100%;
}
.section-info .hotels-l .hotels-l-i .description {
  border: 1px solid #e6e6e6;
  padding: 24px 15px;
}
@media (max-width: 599px) {
  .section-info .hotels-l .hotels-l-i .description {
    padding: 10px 5px;
  }
}
.section-info .hotels-l .hotels-l-i .description .hotel-info {
  margin-bottom: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section-info .hotels-l .hotels-l-i .description .btn {
  height: 40px;
  width: 120px;
}
@media (max-width: 599px) {
  .section-info .hotels-l .hotels-l-i .description .btn {
    width: 80px;
  }
}
@media (max-width: 768px) {
  .section-info .trips-l {
    padding: 0;
  }
}
.section-info .trips-l .trips-l-i {
  height: 230px;
  margin: 0 0 30px 0;
}
@media (max-width: 768px) {
  .section-info .trips-l .trips-l-i {
    height: auto;
  }
}
.section-info .trips-l .trips-l-i:last-child {
  margin-bottom: 0;
}
.section-info .trips-l .trips-image, .section-info .trips-l img {
  height: 100%;
}
@media (max-width: 768px) {
  .section-info .trips-l .trips-image, .section-info .trips-l img {
    width: 100%;
  }
}
.section-info .trips-l .trips-image {
  float: left;
}
@media (max-width: 768px) {
  .section-info .trips-l .trips-image {
    float: none;
  }
}
.section-info .trips-l .description {
  border: 1px solid #e6e6e6;
  height: 100%;
  overflow: hidden;
  padding: 24px 40px 24px 30px;
}
@media (max-width: 768px) {
  .section-info .trips-l .description {
    padding: 24px;
  }
}
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}
.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}
/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
@media (max-width: 768px) {
  .blog-footer .footer-links-wrap {
    display: block;
    margin: 0;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .blog-footer .footer-links:nth-child(even) {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .blog-footer .footer-links {
    display: inline-block;
    height: 355px;
    margin-right: 120px;
    vertical-align: top;
    width: 30%;
  }
}
@media (max-width: 599px) {
  .blog-footer .footer-links {
    margin-right: 30px;
    width: 40%;
  }
}
.blog-footer h2 {
  margin-bottom: 46px;
  text-align: left;
}
@media (max-width: 768px) {
  .blog-footer h2 {
    margin-bottom: 25px;
  }
}
.blog-footer ul {
  margin: 0;
  padding: 0;
}
.blog-footer ul li {
  margin: 0 0 15px;
  text-align: left;
}
.blog-footer ul li a {
  color: #818181;
}
.blog-footer p {
  text-align: left;
}
.blog-footer a {
  display: block;
  color: #ff4b64;
  text-align: left;
}
